@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../img/bg.jpg") center/cover no-repeat fixed;
  display:flex;
  justify-content:center;
  align-items:center;
}



/* Government Header */
.gov-header{
  position:fixed;
  top:5px;
  width:100%;
  text-align:center;
  color:#ffffff;
  font-size:22px;
  font-weight:600;
  letter-spacing:1px;
  z-index:1;
}

/* Main Glass Card */
.main-container{
  width:100%;
  max-width:420px;
  background: rgba(255,255,255,0.10);   /* transparency increase */
  backdrop-filter: blur(12px);         /* blur thoda kam */
  border-radius:20px;
  padding:32px 30px;
  box-shadow:0 20px 45px rgba(0,0,0,0.25);
  color:white;
  animation:fade 0.7s ease-in-out;
}


@keyframes fade{
  from{opacity:0; transform:translateY(20px);}
  to{opacity:1; transform:translateY(0);}
}

/* Logo */
.logo{
  text-align:center;
  font-size:32px;
  font-weight:700;
  margin-bottom:4px;
}

.tagline{
  text-align:center;
  font-size:14px;
  color:#e0f2fe;
  margin-bottom:22px;
}

h2{
  text-align:center;
  margin-bottom:18px;
  font-weight:600;
}

/* Form */
.form-group{
  margin-bottom:15px;
}

.form-group label{
  font-size:14px;
  color:#f1f5f9;
}

.form-group input,
.form-group textarea,
.form-group select{
  width:100%;
  padding:12px 14px;
  border:none;
  border-radius:10px;
  margin-top:6px;
  outline:none;
  background:#f1f5f9;
  font-size:14px;
}

textarea{
  resize:none;
  height:90px;
}

/* Button */
.btn{
  width:100%;
  padding:12px;
  border:none;
  border-radius:12px;
  background:linear-gradient(135deg,#14b8a6,#22c55e);
  color:white;
  font-weight:600;
  cursor:pointer;
  margin-top:12px;
  transition:0.3s ease;
}

.btn:hover{
  transform:scale(1.03);
  box-shadow:0 8px 18px rgba(0,0,0,0.3);
}

/* Links */
.link{
  text-align:center;
  margin-top:14px;
  font-size:14px;
}

.link a{
  color:#ffffff;
  font-weight:600;
  text-decoration:none;
}

/* Dashboard Stats */
.stats{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:14px;
  margin-bottom:18px;
}

.stat-card{
  background:rgba(255,255,255,0.2);
  padding:18px;
  border-radius:14px;
  text-align:center;
}

.stat-card h3{
  font-size:30px;
  margin-bottom:5px;
  font-weight:700;
}

/* Track Result */
.track-result{
  background:rgba(255,255,255,0.2);
  margin-top:16px;
  padding:15px;
  border-radius:12px;
  text-align:center;
  font-size:14px;
}
